$font-stack: "Fira Sans", sans-serif;

//colors
$background-color: #ffffff;
$text-color: #00000042;
$focus-color: #00a9ce;
$error-color: #f95459;
$field-color: #00000061;
$label-color: #00000099;
$disabled-color: #0000000a;
$border-color: #0000001f;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

//////////////////////////////// Default

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
  input {
    border: 1px solid #0000001f;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $background-color;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
    &:hover {
      border: 1px solid $text-color;
    }
    &:focus {
      border: 1px solid $label-color;
    }
  }
  .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: $label-color;
    transition: top 0.3s ease, top 0.3s ease, top 0.3s ease;
  }
  input:valid,
  input:focus {
    & + .placeholder {
      top: 10px;
      font-size: 10px;
      color: $label-color;
    }
  }
  &.focused {
    input:focus {
      border: 1px solid $focus-color;
      & + .placeholder {
        color: $focus-color;
      }
    }
  }
  &.disabled {
    input {
      background-color: $disabled-color;
      border: 1px solid $disabled-color;
      pointer-events: none;
    }
  }
  &.readonly {
    input:focus + .placeholder,
    .placeholder {
      top: 5px;
      font-size: 10px;
    }
  }
  &.error {
    input:focus {
      border: 1px solid $error-color;
    }

    color: $label-color;
  }
  &.dirty + .errormessage {
    color: $error-color;
  }
  &.dirty {
    input {
      border: 1px solid $error-color;
    }
  }
}

p {
  opacity: 1;
  font: normal normal normal 12px/20px $font-stack;
  position: relative;
  right: 30px;
  top: -1.5%;
  color: $label-color;
}
.fas {
  opacity: 1;
  font-size: 10px;
  margin-right: 4px;
}
